body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
body {
  height: 100%;
  background: #F4F4F4;
}
#root{
  width: 375px;
  height: 100vh;
  background: white;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}
#wrap {
  padding: 0 15px;
  height: 90%;
  overflow: auto;
}
#wrap::-webkit-scrollbar {
  width: 3px;
}
#wrap::-webkit-scrollbar-thumb {
  background-color: grey;
}
#wrap::-webkit-scrollbar-track {
  background-color: #ABABAB;
}


main::-webkit-scrollbar {
  width: 3px;
}
main::-webkit-scrollbar-thumb {
  background-color: grey;
}
main::-webkit-scrollbar-track {
  background-color: #ABABAB;
}
